@charset 'UTF-8';

* {
  margin: 0px; padding: 0px; box-sizing: border-box;
}
ul, ol, li {
  list-style: none;
}
a {
  text-decoration: none;
}
button{
  margin: 100px;
}

section{
  width: 100%;
  border: 1px solid #ddd;
}
section #box{
  width: 100px;
  height: 100px;
  background: aqua;
  margin-left: 0%;
  opacity: 1;