@charset 'UTF-8';

* {
  margin: 0px; padding: 0px; box-sizing: border-box;
}
ul, ol, li {
  list-style: none;
}
a {
  text-decoration: none;
}
body{
  height: 5000px;
  width: 5000px;
}

button{
  margin: 100px;
}

section{
  width: 800px;
  border: 1px solid #ddd;
  height: 600px;
  position: relative;
}
section #box{
  width: 100px;
  height: 100px;
  background: aqua;
  position: absolute;
  top: 50px;
  opacity: 1;